<nav class="navbar navbar-light bg-light">
  <div class="pelis">
      <span class="navbar-text">
          SERIES
        </span>
  </div>
</nav>
<section class="wrapperCards">
  <div class="container">
    <div class="card">
      <figure>
        <img src="./assets/5-money-heist.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>MONEY HEIST</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/6-friends.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>FRIENDS</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/7-the-big-bang-theory.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>THE BIG BANG THEORY</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/8-two.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>TWO AND A HALF MEN</h3>
      </div>
    </div>
    <p></p>
  </div>


</section>



