<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #60a8f1;
    font-weight: 600;
    text-align: center;
  }
  .toolbar img {
    margin: 0 18px;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  .card-group{
  display: flex;
  border: 1px solid #3f14eb;
    background-color: #beb7db;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #a89ae3;
    background-color: #b4a8de;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-family: fantasy ;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

</style>

<nav class="toolbar" role="banner">
  <a class="navbar-brand" href="#">
    <img src="./assets/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <span></span>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

  </a>
 </nav>
  <body class="content" role="main">

  <div class="card highlight-card card-small">
    <span>PelisUP!</span>
  </div>
  <h2>Plataforma para ver películas y series</h2>
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

  <div class="card-container">
    <a class="card"  rel="noopener">
      <span>PELICULAS</span>
     </a>

    <a class="card"  rel="noopener" >
      <span>TODO</span>

    </a>
    <a class="card"  rel="noopener" >
      <span>SERIES</span>
    </a>
  </div>

  <p>VER TODO</p>
  <p></p>

              <div class="card-group">
            <div class="card-img-top">
              <img src="./assets/5-money-heist.svg"  alt="Card image cap">
              <div class="card-body">
                <p></p>
                <h5 class="card-title">MONEY HEIST</h5>
                   <p></p>
              </div>
            </div>
            <div class="card-group">
              <div class="card-img-top">
                <img src="./assets/6-friends.svg"  alt="Card image cap">
                <div class="card-body">
                  <p></p>
                  <h5 class="card-title">FRIENDS</h5>
                     <p></p>
                </div>
              </div>
              <div class="card-group">
                <div class="card-img-top">
                  <img src="./assets/7-the-big-bang-theory.svg"  alt="Card image cap">
                  <div class="card-body">
                    <p></p>
                    <h5 class="card-title">THE BIG BANG THEORY</h5>
                       <p></p>
                  </div>
                </div>
                <div class="card-group">

                  <div class="card-img-top">
                    <img  src="./assets/8-two-and-a-half-men.svg" alt="Card image cap">
                    <div class="card-body">
                      <p></p>
                      <h5 class="card-title">TWO AND A HALF MEN</h5>
                         <p></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
<router-outlet></router-outlet>
