<section class="wrapperCards">
  <div class="container">
    <div class="card">
      <figure>
        <img src="./assets/1-black-widow.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>BLACK WIDOW</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/2-shang-chi.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>SHANG CHI</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/3-loki.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>LOKI</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/4-mother.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>HOW I MET YOUR MOTHER</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/5-money-heist.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>MONEY HEIST</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/6-friends.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>FRIENDS</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/7-the-big-bang-theory.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>THE BIG BANG THEORY</h3>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/8-two.svg" alt="">
      </figure>
      <div class="contenido">
        <h3>TWO AND A HALF MEN</h3>
      </div>
    </div>
<p></p>
  </div>

</section>
